@model List<CursoAspMvcConAutenticacion.Models.Pelicula>
@{
    ViewBag.Title = "Contact";
    var miVariable = "un valor";
}

<div>
    Mostrando @Model.Count() películas
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Géneto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            @*Se coloca la clase dager si la pelicula no está en carterera*@
            var claseFila = (!p.EstaEnCartera) ? "danger" :string.Empty;

            <tr class="@claseFila">

                <td>@p.Titulo</td>
                <td>@p.Genero</td>            
            </tr>
        }
    </tbody>
</table>
